/* src/components/Reviews.css */
.review-card {
  width: 420px;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
}

.review-content {
  height: 50%;
  background-color: #333; /* Dark color for the top section */
  color: white;
  padding: 10px;
}

.review-content p {
  margin: 0;
}

.user-info {
  display: flex;
  align-items: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.profile-pic {
  width: 80px;
  height: 80px;
  border: 6px solid #dadada;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 50px;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-name {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
span {
  font-weight: 1000;
  height: 100px;
  color: #fff;
}
